In [1]:
#Random Forest (General) Implementation

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [8]:
train_data = pd.read_csv(r"C:\Users\Brad\OneDrive - Ashesi University\Desktop\Ashesi University\Senior Year Sem 2\Capstone 2\Data\train_data_2.csv")

In [5]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

In [9]:
train_data["land_surface_condition"] = encoder.fit_transform(train_data["land_surface_condition"])
train_data["foundation_type"] = encoder.fit_transform(train_data["foundation_type"])
train_data["roof_type"] = encoder.fit_transform(train_data["roof_type"])
train_data["ground_floor_type"] = encoder.fit_transform(train_data["ground_floor_type"])
train_data["other_floor_type"] = encoder.fit_transform(train_data["other_floor_type"])
train_data["position"] = encoder.fit_transform(train_data["position"])
train_data["plan_configuration"] = encoder.fit_transform(train_data["plan_configuration"])
train_data["legal_ownership_status"] = encoder.fit_transform(train_data["legal_ownership_status"])

In [10]:
train_data.head()

,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,roof_type,...,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other,damage_grade
0,30,266,1224,1,25,5,2,2,2,0,...,0,0,0,0,0,0,0,0,0,2
1,17,409,12182,2,0,13,7,2,2,0,...,0,0,0,0,0,0,0,0,0,3
2,17,716,7056,2,5,12,6,1,2,1,...,0,0,0,0,0,0,0,0,0,3
3,4,651,105,2,80,5,4,0,2,0,...,0,0,0,0,0,0,0,0,0,2
4,3,1387,3909,5,40,5,10,2,2,0,...,0,0,0,0,0,0,0,0,0,2

In [11]:
x = train_data.iloc[:, :-1].values
y = train_data.iloc[:,38].values

In [12]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.20)

In [15]:
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier()
classifier.fit(X_train, y_train)

RandomForestClassifier()

In [16]:
y_pred = classifier.predict(X_test)

In [19]:
from sklearn.metrics import classification_report, confusion_matrix
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           1       0.65      0.49      0.56      4986
           2       0.73      0.82      0.77     29619
           3       0.72      0.61      0.66     17516

    accuracy                           0.72     52121
   macro avg       0.70      0.64      0.66     52121
weighted avg       0.72      0.72      0.71     52121